.homepage {
  h1 {
    font-weight: 500;
    margin-top: 1rem;
    font-size: 2rem;
  }

  .info {
    padding: 4px 0;
    font-weight: lighter;
    font-size: 1rem;

    a {
      color: #0074d9;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
