.homepage {
  h1 {
    font-weight: 500;
    margin-top: 1rem;
    font-size: 2rem;
  }
}

// @media screen and (max-width: 640px) {
//   .homepage {
//     h1 {
//       font-size: 1.2rem;
//     }
//   }
// }
