@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "./styles/global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 11px;
  }

  h1 {
    font-size: 20px !important;
  }
}
